type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type persist_file, file_type;
type sysfs_white_led, sysfs_type, fs_type;
