type hal_fod_cepheus, coredomain, domain;
hal_server_domain(hal_fod_cepheus, hal_pa_fod)

type hal_fod_cepheus_exec, exec_type, file_type;
init_daemon_domain(hal_fod_cepheus)
