# Copyright (c) 2016, 2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_cs35l41 audio_tas2557 audio_tas256x audio_tfa98xx

on fs
    mkdir /mnt/vendor/persist/audio 0755 system system

    chmod 644 /mnt/vendor/persist/audio/us_manual_cal

on init
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/breath
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/breath

    chown system camera /dev/drv8846_dev
    chown system camera /dev/akm09970
    chmod 0660 /dev/drv8846_dev
    chmod 0660 /dev/akm09970

on init && property:ro.boot.hwc=GLOBAL
    setprop ro.boot.product.hardware.sku raphael

on init && property:ro.boot.hwc=CN
    setprop ro.boot.product.hardware.sku raphael

on property:ro.boot.product.hardware.sku=raphael
    enable vendor.nfc_hal_service

on post-fs-data
    mkdir /data/vendor/mac_addr 0770 system wifi
    mkdir /data/vendor/nfc 0770 nfc nfc

    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system

    chmod 0644 /dev/elliptic0
    chmod 0644 /dev/elliptic1

on boot
    # Create persist for camera calibration data
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver

    chown system system /sys/class/thermal/thermal_message/sconfig

service remosaic_daemon /system/vendor/bin/remosaic_daemon
   class late_start
   user camera
   group camera

service vendor.motor /vendor/bin/hw/vendor.xiaomi.hardware.motor@1.0-service
    class hal
    user system
    group system

on property:sys.shutdown.requested=*
    stop vendor.motor

service nv_mac /vendor/bin/nv_mac
    class late_start
    user system
    group system inet net_admin wifi net_raw
    oneshot

service vendor.power /vendor/bin/hw/android.hardware.power-service-qti
    override
    class hal
    user system
    group system input

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    writepid /dev/cpuset/system-background/tasks
    disabled
