on boot
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/hbm
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/hbm

service vendor.livedisplay-hal-2-1 /vendor/bin/hw/vendor.lineage.livedisplay@2.1-service.raphael
    class hal
    user system
    group system
